In [12]:
from sqlalchemy import create_engine

In [3]:
import pandas as pd

In [41]:
from time import time

In [4]:
pd.__version__

'2.2.1'

In [17]:
df = pd.read_parquet('yellow_tripdata_2023-01.parquet')

TypeError: read_table() got an unexpected keyword argument 'nrows'

In [21]:
df.to_csv('yellow_tripdata_2023-01.csv')

In [23]:
df_iter = pd.read_csv('yellow_tripdata_2023-01.csv', iterator = True, chunksize=100000)

In [24]:
df = next(df_iter)

In [25]:
len(df)

100000

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
print(pd.io.sql.get_schema(df,name = 'yellow_taxi_date', con=engine))

CREATE TABLE yellow_taxi_date (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [37]:
df.drop(labels = 'Unnamed: 0', axis=1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2023-01-02 14:56:24,2023-01-02 15:16:33,1.0,3.72,1.0,N,186,236,1,21.2,0.00,0.5,6.30,0.0,1.0,31.50,2.5,0.00
99996,2,2023-01-02 14:12:54,2023-01-02 14:21:00,1.0,0.00,1.0,N,162,107,1,8.6,0.00,0.5,2.00,0.0,1.0,14.60,2.5,0.00
99997,2,2023-01-02 14:30:33,2023-01-02 14:33:00,1.0,0.00,1.0,N,90,249,1,4.4,0.00,0.5,1.68,0.0,1.0,10.08,2.5,0.00
99998,2,2023-01-02 14:34:28,2023-01-02 14:41:43,1.0,0.00,1.0,N,249,164,1,7.9,0.00,0.5,2.38,0.0,1.0,14.28,2.5,0.00
99999,2,2023-01-02 14:34:47,2023-01-02 14:46:38,1.0,1.99,1.0,N,79,170,1,13.5,0.00,0.5,3.50,0.0,1.0,21.00,2.5,0.00

In [28]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con=engine, if_exists='replace')

0

In [38]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 12.9 s
Wall time: 26.5 s

1000

In [42]:
while True:
    t_start = time()
    df = next(df_iter)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chuck, took %.3f second' % (t_end - t_start))

inserted another chuck, took 27.585 second
inserted another chuck, took 24.919 second
inserted another chuck, took 26.816 second
inserted another chuck, took 31.110 second
inserted another chuck, took 40.805 second
inserted another chuck, took 67.522 second
inserted another chuck, took 43.069 second
inserted another chuck, took 32.808 second
inserted another chuck, took 32.687 second
inserted another chuck, took 31.980 second
inserted another chuck, took 30.338 second
inserted another chuck, took 24.790 second
inserted another chuck, took 26.499 second
inserted another chuck, took 21.662 second
inserted another chuck, took 22.344 second
inserted another chuck, took 31.414 second
inserted another chuck, took 29.212 second
inserted another chuck, took 24.225 second
inserted another chuck, took 24.931 second
inserted another chuck, took 19.042 second
inserted another chuck, took 25.337 second
inserted another chuck, took 22.182 second
inserted another chuck, took 20.465 second
inserted another chuck, took 19.949 second
inserted another chuck, took 20.678 second
inserted another chuck, took 25.835 second
inserted another chuck, took 21.835 second
inserted another chuck, took 21.387 second

C:\Users\tanee\AppData\Local\Temp\ipykernel_5524\2207529881.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chuck, took 19.045 second
inserted another chuck, took 10.363 second

StopIteration: